<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Edit Profile</h3>
        </div>
        <div class="card-body">
          <% if @user.errors.any? %>
            <div class="alert alert-danger">
              <h5>Please fix these errors:</h5>
              <ul class="mb-0">
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form_with model: @user, url: user_path, method: :patch, local: true do |form| %>
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= form.label :first_name, class: "form-label" %>
                <%= form.text_field :first_name, class: "form-control", required: true %>
              </div>
              <div class="col-md-6 mb-3">
                <%= form.label :last_name, class: "form-label" %>
                <%= form.text_field :last_name, class: "form-control", required: true %>
              </div>
            </div>

            <div class="mb-3">
              <%= form.label :email, class: "form-label" %>
              <%= form.email_field :email, class: "form-control", required: true %>
            </div>

            <div class="mb-3">
              <%= form.label :tastytrade_customer_id, "TastyTrade Customer ID", class: "form-label" %>
              <%= form.text_field :tastytrade_customer_id, class: "form-control" %>
            </div>

            <hr>
            <h5>Change Password (optional)</h5>

            <div class="mb-3">
              <%= form.label :password, "New Password", class: "form-label" %>
              <%= form.password_field :password, class: "form-control", minlength: 6 %>
              <div class="form-text">Leave blank to keep current password</div>
            </div>

            <div class="mb-3">
              <%= form.label :password_confirmation, class: "form-label" %>
              <%= form.password_field :password_confirmation, class: "form-control" %>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <%= link_to "Cancel", user_path, class: "btn btn-secondary" %>
              <%= form.submit "Update Profile", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>